

<!-- /.page-inner -->
</div>
<!-- /.page -->
</div>
<!-- .app-footer -->
<footer class="app-footer">
    <ul class="list-inline">
        <li class="list-inline-item">
            <a class="text-muted" href="#">Support</a>
        </li>
        <li class="list-inline-item">
            <a class="text-muted" href="#">Help Center</a>
        </li>
        <li class="list-inline-item">
            <a class="text-muted" href="#">Privacy</a>
        </li>
        <li class="list-inline-item">
            <a class="text-muted" href="#">Terms of Service</a>
        </li>
    </ul>
    <div class="copyright"> Copyright © 2018. All right reserved. </div>
</footer>
<!-- /.app-footer -->
<!-- /.wrapper -->
</main>


<!--js链接-->
<script src="/assets/admin/js/admin.js"></script>
<script src="http://uselooper.com/assets/vendor/pace/pace.min.js"></script>
<script src="https://www.googletagmanager.com/gtag/js?id=UA-116692175-1"></script>
<script src="http://uselooper.com/assets/vendor/jquery/jquery.min.js"></script>
<script src="http://uselooper.com/assets/vendor/bootstrap/js/popper.min.js"></script>
<script src="http://uselooper.com/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="http://uselooper.com/assets/vendor/stacked-menu/stacked-menu.min.js"></script>
<script src="http://uselooper.com/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="http://uselooper.com/assets/vendor/flatpickr/flatpickr.min.js"></script>
<script src="http://uselooper.com/assets/vendor/easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="http://uselooper.com/assets/vendor/chart.js/Chart.min.js"></script>
<script src="http://uselooper.com/assets/javascript/main.min.js"></script>
<script src="http://uselooper.com/assets/javascript/pages/easypiechart-demo.js"></script>
<script src="http://uselooper.com/assets/javascript/pages/dashboard-demo.js"></script>
<script src="https://www.google-analytics.com/analytics.js"></script>
</body>
</html>